<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/Account/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/Account/css/style.css">
</head>
<body>

    <div class="main">

        @RenderBody();

    </div>

    <!-- JS -->
    <script src="~/Account/vendor/jquery/jquery.min.js"></script>
    <script src="~/Account/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
